# Python
__pycache__/
*.pyc

# Project cache and data
.cache/
.aim/
.python-version
project.egg-info/
.venv/

# Extracted features (large numpy arrays)
.cache/features/*.npy

# LaTeX
*.aux
*.log
*.fdb_latexmk
*.fls
*.synctex.gz
*.pdf
*.bbl
*.blg
*.out
